@font-face {
    font-family: 'frederick_the_great';
    src: url('fonts/Fredericka_the_Great/FrederickatheGreat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'special-elite';
    src: url('fonts/Special_Elite/SpecialElite-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'cabin-sketch-regular';
    src: url('fonts/Cabin_Sketch/CabinSketch-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'cabin-sketch-bold';
    src: url('fonts/Cabin_Sketch/CabinSketch-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url('img/pw_background.png');
    background-size: cover;
    font-family: 'frederick_the_great';
    cursor: url('cursors/cursor-arrow.svg') 4 3, auto;
    opacity: 0;
    /* Start invisible */
    animation: fadeIn 1.5s ease-in forwards;
    overflow-x: hidden;
    color: #492E1C;

}

a {
    cursor: url('cursors/cursor-hand.svg') 13 5, pointer;
}

.head {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: flex-start;

    ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-start;
        padding-left: 5%;
        padding-top: 2%;
        align-items: center;
        gap: 10%;

    }

    a {
        display: flex;
        text-decoration: none;
        padding: 20px 30px;
        font-family: 'cabin-sketch-regular';
        display: inline-flex;
        background-image: url('img/nav-button.png');
        background-size: 100% 100%;
        opacity: 0.90;
        width: 100%;
        height: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 28px;
    }


}

.header {
    margin: 5%;
    margin-top: 9%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

#profile {
    margin-top: -5%;
    margin-right: 3%;
    display: flex;
    justify-content: center;
    position: relative;

}

#pfp {
    position: absolute;
    top: -15px;
    left: -15px;

}

#intro {
    display: flex;
    flex-direction: column;

    h1 {
        font-weight: 400;
        color: #492E1C;
        font-size: 68px;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.30);
    }

    h3 {
        font-family: 'cabin-sketch-regular';
        font-weight: 400;
        color: #3773E1;
        font-size: 40px;
    }

    #nickname {
        margin-top: 3%;
        font-family: 'special-elite';
        font-weight: 400;
        color: #3773E1;
        font-size: 30px;
    }

}

#resume {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    #resume-button {

        padding: 30px 50px;
        text-decoration: none;
        display: inline-flex;
        background-image: url('img/section-button.png');
        background-size: 100% 100%;
        align-items: center;
        justify-content: center;
        margin-top: 3%;


        color: #FEFDF8;
        font-family: "frederick_the_great";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
        text-decoration-style: wavy;
        text-decoration-skip-ink: auto;
        text-decoration-thickness: 8%;
        text-underline-offset: auto;
        text-underline-position: from-font;
        text-align: center;

    }

    #ps {
        margin-left: 1%;
        margin-top: 9%;
        color: rgba(0, 0, 0, 0.57);
        font-family: "special-elite";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

section {
    margin-top: 10%;
    margin-bottom: 10%;
}

section h2 {
    margin-left: 4%;
    margin-bottom: 2%;
    transform: rotate(-4.659deg);
    padding: 50px 60px;
    text-decoration: none;
    display: inline-flex;
    background-image: url('img/section-button.png');
    background-size: 100% 100%;
    align-items: center;
    justify-content: center;
    margin-top: 3%;


    color: #FEFDF8;
    font-family: "frederick_the_great";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 8%;
    text-underline-offset: auto;
    text-underline-position: from-font;
    text-align: center;



}

.about-me {
    margin-left: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .intro {
        display: flex;
        flex-direction: column;
        gap: 5%;

        li {
            margin-left: 7%;
            margin-bottom: 3%;
            color: #492E1C;
            font-family: "special-elite";
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;

        }
    }

    .piechart {
        display: flex;
        margin-right: 6%;
        margin-top: -10%;
    }

}

.highlight {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 5%;
    margin-bottom: 2%;
    color: #492E1C;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-color: rgba(255, 230, 0, 0.89);
    text-decoration-thickness: 120%;
    text-underline-offset: -100%;
    text-underline-position: from-font;
    margin-bottom: 5%;
}

#red {
    color: #FF0004;
}

#squiggly {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 11%;
    text-underline-offset: 14%;
    text-underline-position: from-font;
}

#blue {
    color: #3773E1;
}

.right-aligned {
    margin-left: 72%;
    transform: rotate(8.44deg);
}

.portfolio {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    #row1 {
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 10%;

    }

    #nyc {
        display: flex;
        margin-right: -8%;
        margin-top: -12%;
        transform: rotate(-2.773deg);

    }

    #fair {
        display: flex;
        margin-right: -5%;
        margin-top: -15%;

    }

    #row2 {
        display: flex;
        flex-direction: row;
        justify-content: start;
    }

    #decor-arrow1 {
        display: flex;
        margin-left: -3%;
        margin-top: -5%;
    }

    #heart {
        display: flex;
        margin-top: -9%;
        margin-left: 4%;
        transform: rotate(11deg);
    }

    #travel {
        display: flex;
        margin-left: 10%;
        margin-top: -5%;
    }

}

.skill-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 20%;
    margin-top: -2.5%;

    .skill-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3 {
            display: flex;
            text-align: center;
            margin: 0;
        }

        .box {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                position: relative;
                width: 100%;
                height: 100%;

            }

            .non-bp {
                display: flex;
                position: absolute;
                align-items: center;
                flex-direction: column;

                li {
                    text-align: center;
                    text-decoration: none;
                    list-style: none;
                    color: #492E1C;
                    text-align: center;
                    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
                    font-family: "special-elite";
                    font-size: 34px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                }


            }


        }
    }


}

.connect-container {
    margin-top: -13%;
    display: flex;
    flex-direction: column;



    .connect-box {
        display: flex;
        flex-direction: row;

        .platform img {
            height: 230px;
            width: 230px;
        }

        .platform a {
            display: inline-flex;
        }

        #arrow1 {
            transform: rotate(-2.232deg);
            display: flex;
            margin-bottom: -2%;
            margin-left: 23%;
            height: 200.18px;
            width: 200.18px;
        }

        #arrow2 {
            transform: rotate(150deg);
            height: 250.18px;
            width: 2500.18px;
            margin-right: -8%;
            margin-top: 10%;
            display: flex;


        }

        .connect-pfp {
            margin-top: -9%;
            margin-right: 2%;
            display: flex;
            justify-content: center;
            position: relative;
            align-items: center;

            #arrow-pfp {
                display: flex;
                justify-self: center;
                position: absolute;
                margin-top: -5%;
                margin-right: -5%;
            }

        }

    }

    #connect-row2 {
        margin-left: 5%;
        margin-right: 5%;
        justify-content: center;
        gap: 1%;

    }

    #connect-row3 {
        justify-content: center;
        gap: 1%;
        margin-top: -5%;
        margin-left: -5%;


        .comment {
            margin-top: 4%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
                font-family: "special-elite";
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

            }

            img {
                margin-left: 40%;
                margin-top: -10%;
                height: 250.18px;
                width: 250.18px;
                transform: scaleX(-1) rotate(125deg);

            }

        }

    }
}

#strikethrough {
    text-decoration-line: line-through;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    padding-top: 10%;

    h2 {
        margin-bottom: 2%;
        color: #3773E1;
        font-family: "special-elite";
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    h3 {
        margin-bottom: 4%;
        color: #492E1C;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
        text-decoration-style: wavy;
        text-decoration-skip-ink: none;
        text-decoration-color: rgba(255, 230, 0, 0.89);
        text-decoration-thickness: 80%;
        text-underline-offset: -100%;
        text-underline-position: from-font;
    }

    p {
        color: #3772e1bd;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }


}